{% extends 'main.html' %}
{% block content %}
<main>
  <section class="d-flex flex-column align-items-center p-2" id="main">
    <div class="d-flex flex-column align-items-start" id="container-1">
        <a href="{% url 'create' %}"><button class=" btn btn-info">+ Upload video</button></a>
            
    </div>
    <hr>
    {% for video in videos  %}
      <div class="w-50 mt-5 bg-warning text-center text-dark rounded p-2" id="container-2" >
          <div class="d-flex justify-content-between p-3" id="info-container-2 ">
              <a href="{% url 'videopage' video.id %}"><h3>{{video.caption}}</h3></a>
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Options
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item text-success" href="{% url 'edit' video.id %}">Edit</a></li>
                    <li><a class="dropdown-item text-danger" href="{% url 'delete' video.id %}">Remove</a></li>
                  </ul>
                </div>
          </div>
          <div class="d-flex justify-content-between p-3">
              <p class="lead">Added at: {{video.created}} </p>
          </div>
          
      </div>
    {% endfor %}
  </section>
</main>
      
{% endblock content %}

